@mixin flex__spaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@mixin flex__spaceEvenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

@mixin flex__center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin block__center {
    display: block;
    margin: 0 auto;
}