// COLOR PALETTE
:root {
    --white: #fff;
    --black: #000;
    --background: #f2f2f2;
    --paragraph: #666;
    --mainColor1: #ffc107;
    --mainColor2: #333;
    --txt_btn: #333;
    --shadow: rgba(0, 0, 0, 0.2);
}